.App {
  /* text-align: center; */
  max-width: 90%;
  margin: auto;
  font-family: Segoe UI;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.links {
  width: 30%;
  font-family: 'Consolas';
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1em;
}

